.amv-widget-wrapper {
    background-color: white;
    padding: 10px;
    box-shadow: @shadow;
    display: table;             // to make it shrink/expand with widget size chainging

    .amv2-help-popup {
        background-color: white;
        color: black;
        // z-index: 101;
        left: -5px;
        top: 10px;

        p.title {
            font-weight: bold;
            text-align: center;
            margin-top: 0;
        }

        span.mouse-action {
            font-weight: bold;
        }

        p.footer {
            margin-bottom: 0;
            color: #888;
            text-align: center;
        }
    }
}

.amv-level2-title {
    margin-bottom: 5px;

    .amv-level2-title-text {
        font-weight: bold;
        font-family: sans-serif;
        display: inline-block;
        white-space: nowrap;
        overflow: scroll;
        min-height: 1em;        // for empty titles

        p {
            margin: 0;
        }
    }

    .amv-level2-title-buttons {
        float: right;
        cursor: default;

        td {
            padding: 0;

            div {
                overflow: visible;
            }

            div:hover {
                background-color: #E0E0E0;
                border-radius: 10px;
            }
        }

    }

}

.amv-level2-map-wrapper {
    border: 1px solid grey;
}

// ----------------------------------------------------------------------
